<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--/** 官网jquery压缩版引用地址 **/-->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- 表单序列成json串 -->
    <script src="//cdn.bootcss.com/jquery.serializeJSON/2.8.1/jquery.serializejson.min.js"></script>
    <script src="//cdn.bootcss.com/jquery.serializeJSON/2.8.1/jquery.serializejson.js"></script>
    <script src="statics/layer/layer.js"></script>

    <script type="text/javascript" charset="utf-8" src="statics/UEditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="statics/UEditor/ueditor.all.min.js"></script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="statics/UEditor/lang/zh-cn/zh-cn.js"></script>
    <style type="text/css">
        #editor {
            width: 800px;
            height: 500px;
        }
        #btns{
            clear:both;
        }
    </style>
</head>
<body>
<h1>index</h1>
<input id="input_id" type="text"/>
<button id="findOne" type="button" class="btn btn-sm btn-danger">查询</button>
<button id="findAll" type="button" class="btn btn-sm btn-danger"> 查询全部</button>
<table id="userTable" class="table table-bordered table-striped" hidden="hidden">
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>操作</th>
    </tr>
</table>

<div id="userShow" class="container" hidden="hidden">
    <h1>用户详情</h1>
    <hr/>
    <table id="userDetail" class="table table-bordered table-striped">

    </table>
</div>

<div id="userUpdate" class="container" hidden="hidden">
    <h1>更新用户信息</h1>
    <hr/>
    <form id="userMessage" commandName="userP" role="form">

    </form>
</div>

<div>
    <h1>完整demo</h1>
    <script id="editor" type="text/plain"></script>
</div>
<!--<div id="btns">-->
    <!--<div>-->
        <!--<button onclick="getAllHtml()">获得整个html的内容</button>-->
        <!--<button onclick="getContent()">获得内容</button>-->
        <!--<button onclick="setContent()">写入内容</button>-->
        <!--<button onclick="setContent(true)">追加内容</button>-->
        <!--<button onclick="getContentTxt()">获得纯文本</button>-->
        <!--<button onclick="getPlainTxt()">获得带格式的纯文本</button>-->
        <!--<button onclick="hasContent()">判断是否有内容</button>-->
        <!--<button onclick="setFocus()">使编辑器获得焦点</button>-->
        <!--<button onmousedown="isFocus(event)">编辑器是否获得焦点</button>-->
        <!--<button onmousedown="setblur(event)">编辑器失去焦点</button>-->

    <!--</div>-->
    <!--<div>-->
        <!--<button onclick="getText()">获得当前选中的文本</button>-->
        <!--<button onclick="insertHtml()">插入给定的内容</button>-->
        <!--<button id="enable" onclick="setEnabled()">可以编辑</button>-->
        <!--<button onclick="setDisabled()">不可编辑</button>-->
        <!--<button onclick=" UE.getEditor('editor').setHide()">隐藏编辑器</button>-->
        <!--<button onclick=" UE.getEditor('editor').setShow()">显示编辑器</button>-->
        <!--<button onclick=" UE.getEditor('editor').setHeight(300)">设置高度为300默认关闭了自动长高</button>-->
    <!--</div>-->

    <!--<div>-->
        <!--<button onclick="getLocalData()">获取草稿箱内容</button>-->
        <!--<button onclick="clearLocalData()">清空草稿箱</button>-->
    <!--</div>-->
<!--</div>-->

<!--<div>-->
    <!--<button onclick="createEditor()">-->
        <!--创建编辑器-->
    <!--</button>-->
    <!--<button onclick="deleteEditor()">-->
        <!--删除编辑器-->
    <!--</button>-->
<!--</div>-->

<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');

    function isFocus(e) {
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e) {
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UE.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function getLocalData() {
        alert(UE.getEditor('editor').execCommand("getlocaldata"));
    }

    function clearLocalData() {
        UE.getEditor('editor').execCommand("clearlocaldata");
        alert("已清空草稿箱")
    }
</script>
</body>

<script>
    var index = "";
    $('#findOne').click(function () {
        var id = $('#input_id').val();
        if (id === "") {
            layer.open({
                title: '提示',
                offset: '200px', //设置显示位置坐标
                icon: 2,
                shade: 0, // 取消遮罩
                anim: 6, //动画效果-晃动
                content: '请输入查询id'
            });
            return;
        }
//        $.getJSON('user/findOne/' + id, function (data) {
//            alert("姓名：" + data.username + '\n' + "年龄：" + data.age)
//        });
        $.ajax({
            type: 'GET'
            , url: 'user/findOne/' + id
            , data: ''
            , dataType: 'json'
            , success: function (data) {
                var con = '';
                if (data.status) {
                    $('#userTable').show();
                    $("#userTable  tr:not(:first)").html("");
                    con += "<tr><td>" + data.value.id + "</td><td>" + data.value.username + "</td><td>" + data.value.age + "</td><td>" + '<a onclick="show(' + data.value.id + ',' + 0 + ')" type="button" class="btn btn-sm btn-success">详情</a> <a onclick="show(' + data.value.id + ',' + 1 + ')" type="button" class="btn btn-sm btn-warning">修改</a> <a onclick="deleteOne(' + data.value.id + ')" type="button" class="btn btn-sm btn-danger">删除</a>' + "</td></tr>";
                    $('#userTable').append(con);
                } else {
                    layer.msg(data.message, {time: 2500});
                }
            },
            error: function () {
                alert("错误！")
            }
        });
    });

    $('#findAll').click(function () {
        findAll();
    });

    function show(id, tip) {
        if (tip === 0) {
            $("#userDetail").html("");
            $.getJSON('user/findOne/' + id, function (data) {
                var content = '<tr><th class="col-3 text-center">ID</th><td>' + data.value.id + '</td></tr>' +
                    '<tr><th class="col-3 text-center">UserName</th><td>' + data.value.username + '</td></tr>' +
                    '<tr><th class="col-3 text-center">PassWord</th><td>' + data.value.password + '</td></tr>' +
                    '<tr><th class="col-3 text-center">Age</th><td>' + data.value.age + '</td></tr>';
                $('#userDetail').append(content);
            });
            index = tool_showDiv('用户详情', 'userShow');
        }
        if (tip === 1) {
            $("#userMessage").html("");
            $.getJSON('user/findOne/' + id, function (data) {
                var content =
                    '<input type="hidden" id="id" name="id" value="' + id + '"/>' +
                    '<div class="form-group">' +
                    '<label for="password">用户名:</label>' +
                    '<input type="text" class="form-control" id="username" name="username" placeholder="Enter Nickname:" value="' + data.value.username + '"/>' +
                    '</div>' +
                    '<div class="form-group">' +
                    '<label for="password">密码:</label>' +
                    '<input type="text" class="form-control" id="password" name="password" placeholder="Enter Password:" value="' + data.value.password + '"/>' +
                    '</div>' +
                    '<div class="form-group">' +
                    '<label for="age">年龄:</label>' +
                    '<input type="text" class="form-control" id="age" name="age" placeholder="Enter AGE:" value="' + data.value.age + '"/>' +
                    '</div>' +
                    '<div class="form-group">' +
                    '<button id="sub_btn" type="button" class="btn btn-sm btn-success">提交</button>' +
                    '</div>';
                $('#userMessage').append(content);
            });
            index = tool_showDiv('更新', 'userUpdate');
        }
    }

    /*提交更新*/
    $('#userUpdate').on("click", "#sub_btn", function () {
        update();
    });

    function update() {
        var data = JSON.stringify($('#userMessage').serializeJSON());
        $.ajax({
            type: 'POST'
            , url: 'user/update'
            , contentType: 'application/json'
            , data: data
            , dataType: 'json'
            , success: function (data) {
                layer.msg(data.message, {time: 2000});
                layer.close(index);
                findAll();
            }
            , error: function () {
                alert('错误！');
            }
        });
    }

    function findAll() {
        $.ajax({
            type: 'GET'
            , url: 'user/findAll'
            , data: ''
            , dataType: 'json'
            , success: function (data) {
                var con = '';
                $('#userTable').show();
                $("#userTable  tr:not(:first)").html("");
                $.each(data, function (i, value) {
                    con += "<tr><td>" + value.id + "</td><td>" + value.username + "</td><td>" + value.age + "</td><td>" + '<a onclick="show(' + value.id + ',' + 0 + ')" type="button" class="btn btn-sm btn-success">详情</a> <a onclick="show(' + value.id + ',' + 1 + ')" type="button" class="btn btn-sm btn-warning">修改</a> <a onclick="deleteOne(' + value.id + ')" type="button" class="btn btn-sm btn-danger">删除</a>' + "</td></tr>";
                });
                $('#userTable').append(con);
            }
            , error: function () {
                alert('错误！');
            }
        });
    }

    function deleteOne(id) {
        layer.open({
            content: '确定要删除?'
            , btn: ['确定', '取消']
            , yes: function (index, layero) {
                //按钮【确定】的回调
                $.ajax({
                    type: 'GET'
                    , url: 'user/delete/' + id
                    , data: ""
                    , dataType: "json"
                    , success: function (data) {
                        layer.msg(data.message, {time: 2000});
                        findAll();
                    },
                    error: function () {
                        alert("错误");
                    }
                });
            }
            , btn2: function (index, layero) {
                //按钮【取消】的回调
                //return false 开启该代码可禁止点击该按钮关闭
            }
            , cancel: function () {
                //右上角关闭回调
                //return false 开启该代码可禁止点击该按钮关闭
            }
        });
    }

    function tool_showDiv(title, div_id) {
        var index = layer.open({
            type: 1,
            title: title,
            shadeClose: true,
            shade: 0.8,
            maxmin: true, //开启最大化最小化按钮
            area: ['893px', '600px'],
            content: $('#' + div_id)
        });
        return index;
    }
</script>
</html>